.sidebar-nav {
    height: 100vh;
}

.sidebar-content {
    margin-top: 10vh;
    color: white;
}

.sidebar-item {
    color: white;
}

.sidebar-content :hover {
    background-color: chocolate;
    color: white;
}

.vertical-center-content{
    margin-top: 50px;
    margin-bottom: 50px;
}

.panel-form-container{  
    border: 1px solid;
    color:gray;
    border-radius: 15px;
}

.output-size{
    height:85vh;
}

.tile-response-panel{
    font-size: 20px;
    
}